/node_modules
/frontend/node_modules
/frontend/.pnp
.pnp.js
/.env

/frontend/coverage

/frontend/dist

/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local